dn: ${OPENLDAP_DOMAIN}
objectClass: top
objectClass: dcObject
objectClass: organization
o: ${OPENLDAP_ORGANIZATION}
dc: ${OPENLDAP_TOP_LEVEL}

dn: ou=people,${OPENLDAP_DOMAIN}
objectClass: organizationalUnit
ou: people

dn: ou=groups,${OPENLDAP_DOMAIN}
objectClass: organizationalUnit
ou: groups