dn: cn=config
objectClass: olcGlobal
cn: config
# TLS configuration, when enabled
${OPENLDAP_TLS_COMMENT}olcTLSCertificateFile: ${OPENLDAP_TLS_CERT_FILE}
${OPENLDAP_TLS_COMMENT}olcTLSCertificateKeyFile: ${OPENLDAP_TLS_CERT_KEY_FILE}
olcArgsFile: /tmp/slapd.args
olcPidFile: /tmp/slapd.pid

dn: cn=module,cn=config
objectClass: olcModuleList
cn: module
olcModulepath: /usr/local/libexec/openldap
olcModuleload: back_mdb.la

dn: cn=schema,cn=config
objectClass: olcSchemaConfig
cn: schema

include: file://${OPENLDAP_CONF_DIR}/schema/core.ldif
include: file://${OPENLDAP_CONF_DIR}/schema/cosine.ldif
include: file://${OPENLDAP_CONF_DIR}/schema/nis.ldif
include: file://${OPENLDAP_CONF_DIR}/schema/inetorgperson.ldif
include: file://${OPENLDAP_CONF_DIR}/schema/postfix-book.ldif

dn: olcDatabase=frontend,cn=config
objectClass: olcDatabaseConfig
objectClass: olcFrontendConfig
olcDatabase: frontend

dn: olcDatabase=mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: mdb
olcDbMaxSize: 1073741824
olcSuffix: ${OPENLDAP_DOMAIN}
olcRootDN: cn=${OPENLDAP_ADMIN_CN},${OPENLDAP_DOMAIN}
olcRootPW: ${OPENLDAP_ADMIN_PASSWD}
olcDbDirectory: ${OPENLDAP_VOL_DIR}/lmdb
olcDbIndex: objectClass eq

dn: olcDatabase=monitor,cn=config
objectClass: olcDatabaseConfig
olcDatabase: monitor
olcRootDN: cn=config
olcMonitoring: FALSE